repos:
  - repo: https://github.com/hhatto/autopep8
    rev: 8f12c0a
    hooks:
      - id: autopep8
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        entry: pytest
        args:
          [
            "-vs",
            "--cov=./src",
            "--cov-report=term",
            "--cov-report=html",
            "--cov-report=json",
            "--cov-report=xml",
            "--junitxml=coverage/report.xml",
          ]
        always_run: true
        pass_filenames: false
        stages: [commit]
      - id: pylint
        name: pylint
        language: system
        types: [python]
        entry: pylint
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
            ".",
          ]
        always_run: true
        pass_filenames: false
        stages: [commit]
      - id: requirements
        name: requirements
        entry: "pip3 freeze > requirements.txt; git add requirements.txt"
        language: system
        pass_filenames: false
        stages: [commit]
